[submodule "apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "redis"]
	path = modules/redis
	url = https://github.com/anthill-utils/puppet-redis.git
[submodule "stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "supervisor"]
	path = modules/supervisor
	url = https://github.com/anthill-utils/puppet-supervisor.git
[submodule "vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "hash_resources"]
	path = modules/hash_resources
	url = https://github.com/stbenjam/puppet-hash_resources.git
[submodule "augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "augeasproviders_sysctl"]
	path = modules/augeasproviders_sysctl
	url = https://github.com/hercules-team/augeasproviders_sysctl.git
[submodule "nginx"]
	path = modules/nginx
	url = https://github.com/anthill-utils/puppet-nginx.git
[submodule "archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "translate"]
	path = modules/translate
	url = https://github.com/puppetlabs/puppetlabs-translate.git
[submodule "staging"]
	path = modules/staging
	url = https://github.com/voxpupuli/puppet-staging.git
[submodule "puppetdb"]
	path = modules/puppetdb
	url = https://github.com/anthill-utils/puppetlabs-puppetdb.git
[submodule "inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "ohmyzsh"]
	path = modules/ohmyzsh
	url = https://github.com/acme/puppet-acme-oh-my-zsh
[submodule "ipcalc"]
	path = modules/ipcalc
	url = https://github.com/inkblot/puppet-ipcalc.git
[submodule "name_service_lookups"]
	path = modules/name_service_lookups
	url = https://github.com/wcooley/puppet-name_service_lookups.git
[submodule "openvpn"]
	path = modules/openvpn
	url = https://github.com/anthill-utils/puppet-openvpn.git
[submodule "ulimit"]
	path = modules/ulimit
	url = https://github.com/arioch/puppet-ulimit.git
[submodule "grafana"]
	path = modules/grafana
	url = https://github.com/voxpupuli/puppet-grafana.git
[submodule "mysql"]
	path = modules/mysql
	url = https://github.com/anthill-utils/puppetlabs-mysql.git
[submodule "collectd"]
	path = modules/collectd
	url = https://github.com/voxpupuli/puppet-collectd.git
[submodule "influxdb"]
	path = modules/influxdb
	url = https://github.com/anthill-utils/golja-influxdb.git
[submodule "puppetdbquery"]
	path = modules/puppetdbquery
	url = https://github.com/dalen/puppet-puppetdbquery.git
[submodule "python"]
	path = modules/python
	url = https://github.com/anthill-utils/puppet-python.git
